[submodule "themes/themes/apollo"]
	path = themes/themes/apollo
	url = git@github.com-anyopaque:not-matthias/apollo.git
[submodule "themes/apollo"]
	path = themes/apollo
	url = git@github.com-anyopaque:not-matthias/apollo.git
